@font-face {
    font-family: my-custom-font;
    src: url(../../fonts/Heebo-VariableFont_wght.ttf);
}
@font-face {
    font-family: my-custom-font2;
    src: url(../../fonts/Kanit-Medium.ttf);
}
@font-face {
    font-family: my-custom-font3;
    src: url(../../fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: my-custom-font4;
    src: url(../../fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: my-custom-font5;
    src: url(../../fonts/Inter-VariableFont_slnt_wght.ttf);
}

:root {
    --margin-top: 155px;
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.678);
    position: absolute;
    width: 100%;
    height: calc(100vh + var(--margin-top));
    top: 0;
    left: 0;
    z-index: 10;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: var(--margin-top);
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: rgb(222, 229, 233); */
    background-color: rgb(178, 191, 207);
    box-shadow: 1px 1px 10px 0px rgb(155, 154, 154);
    padding: 50px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.custom-word-container {
    display: flex;
    margin-bottom: 20px;
    background-color: rgb(178, 191, 207);
    box-shadow: 1px 1px 10px 0px rgb(155, 154, 154);
    padding: 30px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#empty-input-field {
    color: red;
}

#custom-word-success {
    color: green;
    font-weight: 500;
    margin-top: 3px;
}

.custom-word-container-inside {
    display: flex;
}

.custom-word-error-container {
    display: flex;
    flex-direction: column;
}

.custom-word-error {
    border: 2px solid red !important;
}

#custom-word {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 0.9em;
}

#already-exists-error {
    color: red;
}

.num-words {
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-submit-outer-container {
    display: flex;
}

.num-words button {
    width: 35px;
    height: 35px;
    font-size: 28px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.num-words button:hover {
    background-color: #eeecec;
}

.num-words-container {
    display: flex;
    width: 44px;
    justify-content: center;
}

.num-words span {
    font-size: 1.6rem;
    font-weight: bold;
}

.select-drop-down {
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    flex-direction: column;
}

div label {
    font-family: my-custom-font5;
}

.select-drop-down label,
.custom-word-label {
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: #110b0b;
}

.select-drop-down select {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.select-drop-down select {
    outline: none;
}

.select-drop-down select:hover {
    border-color: #999;
}

.generate-btn,
#custom-word-submit-btn {
    padding: 5px 16px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #30346d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 15px;
    margin-top: 3px;
    align-self: center;
}

.generate-btn:hover,
.login-btn:hover,
.logout-btn:hover,
#custom-word-submit-btn:hover {
    background-color: #3f4383;
}

.word-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 900px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.word-item {
    margin: 5px;
    padding: 6px 12px;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.word-item.five-words-size {
    font-size: 2em;
}

.word-item.ten-words-size {
    font-size: 1.4em;
}

.word-item.one-words-size {
    font-size: 3em;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #48658f;
    position: relative;
    margin-bottom: 30px;
    height: 70px;
    position: absolute;
    top: 0;
}

.header button {
    margin-right: 20px;
}

.h1-container {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: center;
    color: #ffffff;
}

h1 {
    margin: 0 auto;
    font-family: my-custom-font2;
    font-weight: bold;
    font-size: 2.5em;
}

.header-btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.logout-btn,
.login-btn {
    padding: 6px 16px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #282c5f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    z-index: 0;
}

.logout-btn:hover,
.login-btn:hover {
    background-color: #3f4383;
}

@media (max-width: 877px) {
    .controls {
        width: 84%;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
    }
}
@media (max-width: 835px) {
    .controls label {
        font-size: 2vw;
    }
    .controls .generate-btn {
        font-size: 2vw;
    }
    /* .generate-btn {
        font-size: 1vw;
    } */
    .controls button {
        font-size: 1.8vw;
    }
    .controls select {
        font-size: 1.8vw;
    }
}

@media (max-width: 775px) {
    .controls {
        padding-left: calc(100% - 725px);
        padding-right: calc(100% - 725px);
    }
}
@media (max-width: 734px) {
    .controls {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 612px) {
    .controls label {
        font-size: 0.7em;
    }
    .controls .generate-btn {
        font-size: 0.7em;
    }
    .controls button {
        font-size: 1em;
    }
    .controls select {
        font-size: 0.7em;
    }
    .controls {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 600px) {
    .word-item.one-words-size {
        font-size: 7vw;
    }
    .word-item.ten-words-size {
        font-size: 3.5vw;
    }
    .word-item.five-words-size {
        font-size: 5vw;
    }
}
@media (max-width: 550px) {
    .h1-container {
        text-align: center;
        left: -50px;
    }
}

@media (max-width: 556px) {
    .controls {
        width: calc(100vw - 40px);
    }
    .num-submit-outer-container {
        flex-direction: column;
    }
    .num-words button {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 500px) {
    .custom-word-container {
        width: calc(100% - 90px);
    }

    .custom-word-container * {
        font-size: 3.5vw;
    }
    #custom-word-submit-btn {
        font-size: 0.8rem;
    }
}

@media (max-width: 467px) {
    .h1-container h1 {
        font-size: 8vw;
    }
    .header-btn-container .logout-btn,
    .header-btn-container .login-btn {
        font-size: 3vw;
    }
    .controls {
        flex-direction: column;
    }
    .custom-word-container * {
        font-size: 0.95em;
        font-weight: bold;
    }
    #custom-word-submit-btn {
        font-size: 0.8rem;
    }
}

@media (max-width: 432px) {
    .word-item.ten-words-size {
        font-size: 1em;
    }
    .word-item.five-words-size {
        font-size: 1.2em;
    }
}

@media (max-width: 430px) {
    .custom-word-container {
        display: flex;
        flex-direction: column;
        width: calc(100vw - 90px);
    }
    .custom-word-container-inside {
        flex-direction: column;
    }
    #custom-word-submit-btn {
        margin: 0;
        margin-top: 5px;
    }

    .header-btn-container .login-btn {
        font-size: 3vw;
    }
}
@media (max-width: 286px) {
    .header-btn-container .logout-btn,
    .header-btn-container .login-btn {
        font-size: 0.55em;
    }
}
@media (max-width: 378px) {
}
@media (max-width: 300px) {
    .word-item.one-words-size {
        font-size: 1.4em;
    }
    .word-item.five-words-size {
        font-size: 1.2em;
    }
    .word-item.ten-words-size {
        font-size: 0.95em;
    }
}

@media (max-width: 197px) {
    .controls {
        width: 180px;
    }
}
@media (max-width: 237px) {
    .custom-word-container {
        width: 140px;
    }
}

/*  MEDIA HEIGHT */
@media (max-height: 725px) {
    :root {
        --margin-top: calc(35vh - 100px);
    }
}
@media (max-height: 552px) {
    :root {
        --margin-top: 93px;
    }
}
